.App {
  text-align: center;
}

.giohang{
  margin: 15px 10% 15px 10%;
  width: 80%;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.853);
  
}
.btn.btn-primary.th-ng{
  margin: 0% 0% 2% 42.6%;
}


.thanhtoan{
  margin: 15px 10% 15px 10%;
  width: 80%;
  border-radius: 20px;
  
}
.login{
  width: 40%;
  margin-left: 30%;
}
.Sigin-up{
  width: 70%;
}


.card-body.p-5.shadow-5.text-right{
  margin-left: 12%;
}
.fw-bold.mb-5{
  margin-left: 17%;
  color: blue;
  
}
#dang-nhap{
  text-decoration: none;
 
  color: white;
  background: blue;
}
#mua-hang,#thanh-toan{
  margin: 1% 0% 2% 1%;
}

.cap-xoa{
  display: inline-flex;
}

form{
  margin-left: 1%;
}

#a
{
  background-color: #3b5998;
}
#b
{
  background-color: #55acee;
}
#c
{
  background-color: #dd4b39;
}
#d
{
  background-color: #ac2bac;
}
#e
{
  background-color: #0082ca;
}
#g
{
  background-color: #333333;
}
.text-center.text-center.p-3{
  background-color: rgba(0, 0, 0, 0.2);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.carousel-inner {
  margin: 5px 0px 10px 0px;
  border-radius: 20px;
}
.d-block.w-100
{
  height: 550px;
  width: 100%;
}
img
{
  height: 250px;
  width: 190px;

}
#img-sp{
 margin-left: 8px;
}
.xem{
  color: black;
  text-decoration: none;
}
.product{
  text-align: left;
  font-size: 13px;
  height: 410px;
  width: 225px;
  margin: -21.3px 0px 20px 0px;
  padding:15px 0px 0px 0px;
  border: 1px  solid rgb(136, 136, 138);
  padding: 10px 0px 0px 10px;
}

.products{
  display: flex;
  
  margin: 40px 11% 15px 11%;
  flex-wrap: wrap;
}

.d-block.w-50{
  margin: 10px 0px 5px 150px;
  height: 315px;
}
.banner, .banner1{
  margin: 10px 0px 5px 900px;
  height: 150px;
  width: 400px;
}

.text-white{
  text-decoration:none;
  color: #dd4b39;
}

.ten-loai-san-pham
{
  margin-top: 40px;
  background: #dcc0b3;
  width: 100%;
  border-radius: 3px;
}
.chi-tiet{
  padding: 2%;
  text-align: center;
  margin: 3% 5% 4% 5%;
  border-radius: 5px;
}
body{
  background: rgb(208, 208, 208);
}
.btn.btn-danger.m{
  margin-right: 3px;
  margin-left: 1%;
  font-size: 13px;
}
.btn.btn-danger.g{
  margin-right: 3px;
  font-size: 13px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card.shadow-2-strong{
  border-radius: 1rem;
}
.btn.btn-lg.btn-block.btn-primary.mb-2{
  margin-top: 1.45%;
  margin-left: 2%;
}
.img-ct{
  float: left;
    width: 210px;
    height: 250px;
    margin-left: 20%;
}

.form-control.form-control-dark{
  margin-left: -300%;
    width: 400%;
}
.form-control.mb-4{
  width: 50%;
}
.not_product{
  text-align: center;
}
.img_gio_hang{
  margin-left: 38%;
  width: 20%;
  height: 25%;
}
.quantity{
  display: flex;
  margin-left: 62%;
}
.form-control.quantity{
  width: 13%;
  font-size: 14px;
  margin-left:2%;
}
.form-label{
  float: left;
}
.rounded-circle{
  width: 40px;
  height: 40px;
}
.col-12.col-lg-auto.mb-3.mb-lg-0{
  width: 11%;
  display: flex;
}
.login-out{
  margin:0px 150px 0px 20px;
}
.my-sm-0{
  margin-left: 5px;
}
.tru-so-luong,.cong-so-luong{
  padding: 5px 10px;
  background: red;

}
.discount{
  display: flex;
}
.price{
    color: red;
    display: block;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 5px;
    margin-top: 10px;
}
.pb-4{
  margin-top: 2%;
}

.name{
  margin-top: 6px;
  
}

#gioi_thieu{
  width: 78%;
  margin: 15px 11.5% 15px 10.5%;
}
.thanh_tien{
  margin-top: 15px;
  margin-left: 80%;
}
.d-flex.flex-column.mx-auto{
  width: 80%;
}
.my-3{
  width: 250px
}
.h5.mb-4{
  font-weight: 600;
}
.p-0{
  list-style: none; cursor: pointer;
}
.page-footer.shadow{
  border-radius: 10px;
  background: beige;
  height: 230px;
}
.d-flex.flex-wrap.justify-content-between.footer{
  padding-top: 25px;
  height: 230px;
 
}
.text-dark{
  height: 200px;
  text-decoration: none;
}
.p-0.dh{
  margin-top: 50px;
}
.contact-footer{
  height: 200px;
}
.img-logo{
  height: 200px;
  width: 190px;
}
.mo_ta{
  border-radius: 90px;
    background: rgb(243, 71, 100);
    padding: 0px 10px;
    margin-top: -20px;
    color: black;
    
}
.dung_luong{
  padding: 4px 15px;
  border: 1px solid;
}
.ten-loai{
  text-decoration: none;
  margin-right: 4%;
  color: black;
  border: 1px solid rgb(87, 83, 83);
  padding: 5px 20px;
  border-radius: 20px;
}