.App {
  text-align: center;
}

.giohang{
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.853);
  
}
.btn.btn-primary.th-ng{
  margin: 0% 0% 2% 44%;
}
#ho-ten{
  width: 30%;
}
h1{
  color:red;
}
.thanhtoan{
  border-radius: 20px;
  background: #9ae0f4;
}
.login{
  width: 40%;
  margin-left: 30%;
}
.Sigin-up{
  width: 70%;
}


.card-body.p-5.shadow-5.text-right{
  margin-left: 12%;
}
.fw-bold.mb-5{
  margin-left: 17%;
  color: blue;
  
}
#dang-nhap{
  text-decoration: none;
 
  color: white;
  background: blue;
}
#mua-hang,#thanh-toan{
  margin: 1% 0% 2% 1%;
}

#dia-chi{
  width: 30%;
}

#dien-thoai{
  width: 30%;
}

.cap-xoa{
  display: inline-flex;
}

form{
  margin-left: 1%;
}

#a
{
  background-color: #3b5998;
}
#b
{
  background-color: #55acee;
}
#c
{
  background-color: #dd4b39;
}
#d
{
  background-color: #ac2bac;
}
#e
{
  background-color: #0082ca;
}
#g
{
  background-color: #333333;
}
.text-center.text-center.p-3{
  background-color: rgba(0, 0, 0, 0.2);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.carousel-inner {
  height: 550px;
  width: auto;
  margin: 5px;
  border-radius: 20px;
}
.d-block.w-100
{
  height: 550px;
  width: 100%;
}
img
{
  height: 250px;
  width: 190px;
  
}
.xem{
  color: black;
  text-decoration: none;
  padding-left: 10%;
  
}
.product{
  text-align: center;
  font-size: 13px;
  height: 410px;
  width: 225px;
  margin: 1% 1% -3.5px 3.5%;
  padding:1% 0% 1.3% 1%;
  border: 1px  solid rgb(136, 136, 138);
}
.d-block.w-50{
  margin: 10px 0px 5px 150px;
  height: 315px;
}
.banner, .banner1{
  margin: 10px 0px 5px 900px;
  height: 150px;
  width: 400px;
}

#products{
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.text-white{
  text-decoration:none;
  color: #dd4b39;
}

.ten-loai-san-pham
{
  margin-top: 40px;
  background: #dcc0b3;
  width: 100%;
  border-radius: 3px;
}
.chi-tiet{
  padding: 2%;
  text-align: center;
  margin: 3% 5% 4% 5%;
  border-radius: 5px;
}
body{
  background: rgb(208, 208, 208);
}
.btn.btn-danger.m{
  margin-right: 3px;
  margin-left: 1%;
  font-size: 13px;
}
.btn.btn-danger.g{
  margin-right: 3px;
  font-size: 13px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card.shadow-2-strong{
  border-radius: 1rem;
}
.btn.btn-lg.btn-block.btn-primary.mb-2{
  margin-top: 1.45%;
  margin-left: 2%;
}
.img-ct{
  float: left;
    width: 250px;
    height: 250px;
    margin-left: 20%;
}

.form-control.form-control-dark{
  margin-left: -300%;
    width: 400%;
}
.form-control.mb-4{
  width: 50%;
}
.not_product{
  text-align: center;
}
.img_gio_hang{
  margin-left: 38%;
  width: 20%;
  height: 25%;
}
.quantity{
  display: flex;
  margin-left: 62%;
}
.form-control.quantity{
  width: 13%;
  font-size: 14px;
  margin-left:2%;
}
.form-label{
  float: left;
}
.rounded-circle{
  width: 40px;
  height: 40px;
}
.col-12.col-lg-auto.mb-3.mb-lg-0{
  width: 11%;
  display: flex;
  margin: 0% 15%;
}
.my-sm-0{
  margin-left: 5px;
}
.discount{
  display: flex;
}
.price{
    color: red;
    display: block;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 5px;

}
.pb-4{
  margin-top: 2%;
}